body,div,a{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

#left{
    float: left;
    width: 25%;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-style: solid;
    border-color: #1a7f94;
    min-height:500px;
    margin-bottom: 100px;
    margin-top: 10px;

}

#right{
    float: left;
    width: 60%;
    border: solid;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-color: #1a7f94;
    min-height: 500px;
    margin-bottom: 100px;
    margin-top: 10px;


}

#head1{
    text-align: center;
    font-size: 18px;
}

#message{
    width: 100%;
    height:330px;
    border:solid;
    border-color: #eef5e3;
    background-color: #eef5e3;
}
#content{
    height:100%;
    background-color: #e5f5ea;
}

#content_father{
    background-color: #e5f5ea;
}

#message_tool{
    width:100%;
    height:5%;
    border:solid;
    border-color: #eef5e3;
}

#message_edit{
    width: 100%;
    height:16.3%;
    border:solid;
    border-color: #eef5e3;
    background-color: #eef5e3;

}
#message_edit_message{
    height: 161px;
    background-color: #eef5e3;
}
#message_edit_table{
    width: 555px;
    background-color: #eef5e3;
}

.button{
    float: left;
}

#button_send{
    float: right;
    margin-right: 10px;
}

#send_box{
    background-color: #eef5e3;
    width: 552px;
    height:110px;
    vertical-align: top;
}
.tool{
    float: left;
}
#select{
    margin-top: 6px;
}

#send_box{
    width: 672px;
    height: 110px;
    max-height: 110px;
    max-width: 672px;
    resize: none;
}

.content_left{
    width: 100%;
    float: left;
    margin-left: 20px;
}

.content_left_name{
    color: #95a4ef;
    font-family: "Century Gothic", "微软雅黑 Light";
    font-size: 12px;
}

.content_left_text{
    color: #233333;
    font-family: "Century Gothic", "微软雅黑 Light";
    font-size: 12px;
}

.content_right{
    margin-right: 20px;
    float: right;
}

.content_right_name{
    color: #99c36e;
    font-family: "Century Gothic", "微软雅黑 Light";
    font-size: 12px;
}

.content_right_text{
    color: #233333;
    font-family: "Century Gothic", "微软雅黑 Light";
    font-size: 12px;
}

.chat_record{
    float: left;
}
