#side{
    float: left;
    width: 13.7%;
    margin-top: 50px;
    margin-left: 0;
    height: 50%;

}
#show{
    float: left;
    margin-top: 100px;
    width: 83.3%;
    margin-left: 0;
    height: 80%;
}

#top_div{
    width: 75%;
    margin: 0 0 0 13.7%;
    height: 50px;
    padding-top: 10px;
}
#top_div_side{
    width: 25%;
    margin: 0 0 0 0%;
    height: 50px;
    padding-top: 10px;
}
#foot_div{
    text-align: center;
    font-family: "Adobe Garamond Pro Bold";
}
#menu div ul li
{
    color: #CB4042;
}

