.group .float{
    float: left;
    margin: 3em;
    font-size: 16px;
}

#infoArea {
    margin-top: 1em;
}

#editButtonBox {
    position:relative;
    left: 12em;
    width: 64px;
    height: 21px;
}

.info-name {
    color: grey;
}

.items {
    height: 35px;
}

#avatar {
    border-radius: 3ex;
}

#avatar:hover {
    border: solid;
    border-color: orange;
}

#outer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 9999;
    background: rgb(0, 0, 0);
}

#setAvatarBox {
    position: fixed;
    top: 10em;
    left: 10em;
    width: 200px;
    height: 200px;
    background-color: #4cae4c;
}