<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://115.159.33.114:3306/rsp?useUnicode=true&amp;characterEncoding=UTF8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.connection.username">liability</property>
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.connection.password">liability</property>
        <property name="show_sql">true</property>
        <mapping resource="Person.hbm.xml"/>
        <mapping resource="Group.hbm.xml"/>
        <mapping resource="Sponsor.hbm.xml"/>
        <mapping resource="Material.hbm.xml"/>
        <mapping resource="School2Student.hbm.xml"/>
        <mapping resource="School2Group.hbm.xml"/>
        <mapping resource="File.hbm.xml"/>
        <mapping resource="Group2Member.hbm.xml"/>
        <mapping resource="School.hbm.xml"/>
        <mapping resource="Activity.hbm.xml"/>
        <mapping resource="Networking.hbm.xml"/>
        <mapping resource="TempGroup.hbm.xml"/>
        <mapping resource="Message.hbm.xml"/>
        <mapping resource="IndividualActivity.hbm.xml"/>
        <mapping resource="Responsor.hbm.xml"/>
        <mapping resource="MessageReply.hbm.xml"/>
        <mapping resource="Axis.hbm.xml"/>
        <mapping resource="Publicity.hbm.xml"/>
        <mapping resource="Fellow.hbm.xml"/>
        <mapping resource="Letter.hbm.xml"/>
        <mapping resource="Dynamic.hbm.xml"/>
        <mapping resource="DynamicComment.hbm.xml"/>
        <mapping resource="Contactor.hbm.xml"/>
        <mapping resource="Topic.hbm.xml"/>
        <mapping resource="TopicReply.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
